<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='crearnivel.css'>
</head>
<body>
    
    <center>

        <h1>Crea tu laberinto!!</h1>

        <p>Ingrese el numero de filas del mapa:</p>
        <input type="number" placeholder="Filas" id="filas">

        <p>Ingrese el numero de columnas del mapa:</p>
        <input type="number" placeholder="Columnas" id="columnas"><br>
        <br>
        <button id="botonMostrar">Mostrar</button>

        <div id="divMapa">

        </div>
        <br>    
        <div id="botonGuardar">
        
        </div>

        <button id="guardarMapa">Guardar mapa</button>
    </center>

    <script src='crearnivel.js'></script>
</body>
</html>